body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #F9F9F9;
  color: #131415;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

aside h2 {
  font-size: 1.15rem;
}

aside h3 {
  font-size: 1.05rem;
}

p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-block-start: 0;
  margin-block-end: 1em;;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0;
}

img {
  width: 100%;
  min-height: 100vh;
}

h2 {
  margin-top: 60px;
}

section h2 {
  margin-top: 0;
}

h2, h3, h4, button, p {
  margin-left: 30px;
  margin-right: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 8px 14px 0px #9A9A9A;
  box-shadow: 0px 8px 14px 0px #9A9A9A;
}

section main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 300px;
}

label, input {
  display: block;
}

label {
  font-size: 0.7rem;
  font-weight: 500;
}

input {
  margin-bottom: 20px;
  height: 20px;
  width: 100%;
}

button {
  margin-top: 20px;
  background: green;
  color: white;
  border: none;
  padding: 12px 50px;
  border-radius: 6px;
}

a {
  text-decoration: none;
}
